body{
    
    /*
    background:linear-gradient(to right,#000000,#434343) ;
    background:linear-gradient(to right,#4b79a1,#283e51) ;
    background:linear-gradient(to right,#0099f7,#f11712) ;
    background:linear-gradient(to right,#5a3f37,#2c7744) ;
    background:linear-gradient(to right,#feac5e,#c779d0,#4bc0c8) ;
    background:linear-gradient(to right,#780206,#061161) ;
    */
}
.header{
    padding: 50px 50px;
}