body{
    background: #434343;
    /*
    background:linear-gradient(to right,#000000,#434343) ;
    background:linear-gradient(to right,#4b79a1,#283e51) ;
    background:linear-gradient(to right,#0099f7,#f11712) ;
    background:linear-gradient(to right,#5a3f37,#2c7744) ;
    background:linear-gradient(to right,#feac5e,#c779d0,#4bc0c8) ;
    background:linear-gradient(to right,#780206,#061161) ;
    */
}
.header{
    padding: 50px 50px;
}
.botton-nav{
    display: flex;
    text-align: center;
}
.nav-icon{
    opacity: 0;
}


@media(max-width:400px){
    .botton-nav{
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        background: gray;
        border-radius: 5px;
        bottom: 0%;
        text-align: center;
    }
    .item-link{
        text-decoration: none;
        color: white;
    }
    .item-link:hover{
        border: 1px solid white;
    }
    .nav-icon{
        opacity: 1;
    }
}







/*
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Playball', cursive;
*/